<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>REST servlets by swvalerian with love!</display-name>

    <servlet>
        <servlet-name>FileServlets</servlet-name>
        <servlet-class>com.swvalerian.restapi.controller.FileServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventsServlets</servlet-name>
        <servlet-class>com.swvalerian.restapi.controller.EventsServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersServlets</servlet-name>
        <servlet-class>com.swvalerian.restapi.controller.UsersServlets</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ErrorDemo</servlet-name>
        <servlet-class>com.swvalerian.restapi.controller.ErrorDemoServlets</servlet-class>
    </servlet>

    <!--   mvn tomcat7:run  -->

    <servlet-mapping>
        <servlet-name>FileServlets</servlet-name>
        <url-pattern>/api/v1/files/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventsServlets</servlet-name>
        <url-pattern>/api/v1/events/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersServlets</servlet-name>
        <url-pattern>/api/v1/users/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ErrorDemo</servlet-name>
        <url-pattern>/ErrorDemo</url-pattern>
    </servlet-mapping>

    <!--Вводим отображение на свой сервлет для обработки ошибок  -->
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorDemo</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Error</exception-type>
        <location>/ErrorDemo</location>
    </error-page>

    <!--   mvn tomcat7:run  -->

</web-app>
